@import "tailwindcss";

:root{
  --sand: #F0EDE5;
  --cyprus: #004643;
  --dark: #012A2A;
  --light: #F8F7F2;
  --muted: #BFC7C7;
}

body{
  background: var(--sand);
  color: var(--dark);
  font-family: sans-serif;
}